<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tasarim4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tasarim4.Properties.Settings>
            <setting name="textbox" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxa" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxb" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxc" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxd" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxe" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxf" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxg" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxh" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxi" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxk" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxl" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxm" serializeAs="String">
                <value />
            </setting>
            <setting name="textboxn" serializeAs="String">
                <value />
            </setting>
        </Tasarim4.Properties.Settings>
    </userSettings>
</configuration>